# Environment & Secrets
.env
docs

# Virtual Environment
.venv/
env/
venv/

# Vector Database & Cache
chroma-db/
__pycache__/
*.pyc

# Dependencies
node_modules/

# IDE / System files
.vscode/
.DS_Store
